<%
    if params != nil && params[:otp] != nil && params[:email] != nil
        session[:otp] = params[:otp]
        session[:email] = params[:email]
        user = User.find_by(:email => params[:email])
        if user != nil && user.otp == params[:otp]
%>

<%= react_component('reset_password', {csrf: form_authenticity_token}) %>

<% 
        else
%>

<h4>Don't try to manipulate the url!</h4>
<%      end
    else 
%>
<h4>You shouldn't be here!</h4>
<% end %>