<h4>
    Someone is requested form password recovery!
</h4>

<p>so here's your password recovery link</p>
<a href = 'http://localhost:3000/reset-password?otp=<%= @otp %>&email=<%= @email %>' > Change Password </a>


<h4>Thank you!</h4>